<div class="section section-md mt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-14">
        <!-- Progress bar for completed tasks -->
        <!-- progress_bar.html -->
        <div class="progress-wrapper">
          <div class="progress-info">
            <div class="progress-label">
              <span class="text-success">Completed</span>
            </div>
            <div class="progress-percentage">
              <span>{{ completed_percentage }}%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ completed_percentage }}%;" aria-valuenow="{{ completed_percentage }}"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
