{% load crispy_forms_tags %}

<style>
    .btn-custom-white {
        background-color: white;
        color: black;
        border: 1px solid #ddd;
    }

    .btn-custom-white:hover {
        background-color: #f8f9fa;
    }

    .form-control {
    border-radius: 1rem 0 0 1rem;
}
</style>

<form method="get" action="">
  <div class="input-group">
    {% csrf_token %}
    {{ search_form|crispy }}
    <button type="submit" class="btn btn-custom-white">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>
